version: '3.8'

services:
  app:
    build: .
    container_name: forex_rate_extractor
    ports:
      - "8501:8501"
    volumes:
      - .:/app
    environment:
      - PYTHONUNBUFFERED=1
    restart: unless-stopped
